# Available profiles: dev (H2 in-memory DB), test (Amazon RDS MySQL)
spring:
  profiles:
    active: dev

server:
  port: 8080
  address: 0.0.0.0

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,env
      base-path: /actuator
  endpoint:
    health:
      show-details: when-authorized
      show-components: always
  health:
    defaults:
      enabled: true

aws:
  s3:
    bucket: image-share-images-bucket
    region: ap-south-1
  secrets:
    region: ap-south-1
    db-secret-name: image-share/DB

jwt:
  secret: my-super-secret-key-varun
